resultsFolder
resultsFolder/*
resultsFolder2*
resultsFolder2/*
temp*
temp/*
tempResults
tempResults/*
original
original/*
original2
original2/*
cache
cache/*
originalgitDSDatasetDepth1
originalgitDSDatasetDepth1/*
originalgitDepth1
originalgitDepth1/*
originalnoDSFolder
originalnoDSFolder/*